<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>办公室里蹲一蹲可解疲劳</key>
	<string>在讲究站有站相、坐有坐相的现代人眼里，蹲，可能是一种不雅观的姿势。但是对于在办公室工作的人，蹲一蹲有利于全身器官的运动，能起到循环全身血液，活动全身关节的作用。
平时我们久坐的时候，脊椎和颈椎始终保持着一个曲度，承受着巨大的压力，腿部关节也特别的劳累。河南中医学院第一附属医院推拿科副主任医师张世卿说，多做下蹲可以活动关节、放松肌肉、提高身体平衡能力、改善体形，提高心肺功能，让身体变得更加年轻。
在身体自然放松的前题下做下蹲锻炼，次数不限，可根据自己的情况循序渐进地逐步增加。中年人在开始锻炼时，一定要“悠着点”，慢慢地下蹲。
当人采取蹲姿时，膈肌上抬，可加大胸腔和肺的活动范围。颈椎和脊椎得到了良好的拉伸。张主任指出，一蹲一起，全身肌肉从紧张到松弛，好像做了一次全身的肌肉按摩。
由于身体是前倾的，腰椎关节相对松弛，会感到舒适，这也是为什么许多腰椎间盘突出的人采取蹲的强迫体位的原因。
如果在办公室里碍于形象无法下蹲的话，可以在座位下面放几盆小花，不但净化了空气，而且在你浇花的时候，就可以很自然地蹲下来放松几分钟。
你也可以把经常用的文件放在办公桌最下面的抽屉里，在找文件的同时，蹲上那么一下，也会感到很惬意。
除了办公室工作的人，对于司机和学生这样久坐的人，蹲都是一种很健康的锻炼方式。</string>
	<key>健身房慢动作训练 瘦身效果更明显</key>
	<string>这套健身房慢动作在家里也可以做。开始一个星期做2次， 5个星期后减到1个星期1次。
一、吻枕膝卧撑
器材：枕头
目标功效区：肱三头肌和胸肌
1.双手和双膝着地控制住平衡，双臂撑直。你的身体从膝至肩应形成一条直线。把枕头放在头前的地上。
2.尽可能慢地弯曲双肘，躯干压低，直至你的嘴亲吻枕头。随着时间的推移，你往下俯卧的速度应越来越慢。
二、倚墙下蹲
器材：两个枕头
目标功效区：股四头肌
1.身体斜靠在墙上，双脚分开同肩宽，离墙一大步。
2.双手抱一个枕头，另一个枕头放在身下的地上。
3.上身顺着墙体往下滑，直至你的膝盖弯曲成90度，与脚踝垂直。
4.然后把手里的枕头支撑在肩后，下背用力顶住墙，脚后跟紧压着地面。控制的时间尽可能长一些。
5.当你感觉后背可能贴不住墙时，身体慢慢顺着墙往下滑，坐到身下的枕头上。
6.为了功效更大一些，你可以增加控制的时间，或手握重物。
三、推压肩部
器材：椅子、哑铃(矿泉水瓶)、枕头
目标功效区：肩膀和肱三头肌
1.坐在椅子上，把枕头置于肩后。下背紧贴椅子，双肘弯曲，哑铃举至肩高，掌心相对。
2.尽可能慢地推出手臂向前向上。慢慢收回手臂到起始的位置。一旦你能推到8次，即应增加哑铃的重量或再延长时间。
四、慢划船
器材：长凳或茶几、枕头
目标功效区：背部
1.把右腿膝盖架放在长凳上的枕头上。左腿站直，臀部向后翘起，右手平放凳上，左手握哑铃，伸直左臂与地面垂直。保持背和颈部与地板平行。眼往下看。
2.慢慢弯曲左臂，将哑铃提至腋窝下。慢慢放下哑铃，尽可能多做几次，然后换侧做。一旦你能每侧做到8次，即应增加哑铃的重量或再延长时间。
五、仰卧屈腿抬臀
器材：枕头、垫子
目标功效区：腹部肌肉
1.仰卧在垫子上，双腿弯曲，双脚平放在地上，两臂伸直放身体两侧，手心向下，头枕在枕头上。下背紧贴地面。
2.尽可能慢地将两膝引向胸部，使臀部抬离地面。然后慢慢回到起始位置。尽可能地多完成几个重复，同时背紧贴地面。
六、台阶提踵
器材：台阶、哑铃
目标功效区：小腿
1.双脚前掌站在一级台阶上，脚后跟悬在台阶外。一手紧抓栏杆，另一手握哑铃，为了热身，脚趾先以均匀的速度上下颠几下。然后尽可能慢地提起身体，全身重量压在脚趾上。
2.以超慢的速度放下脚后跟，直至它们低于台阶。身体再提起，重心再压在前脚掌上重复。
七、臂弯举
器材：椅子、枕头、哑铃
目标功效区：臂肌
1.端坐椅子上，双肩稍前倾，在肩后垫一个枕头。两手各握哑铃，双臂弯曲，举起哑铃至肩前。
2.尽可能慢地打开双肘，双臂垂直放下，保持双手和双肘紧贴身体两侧。尽可能多地重复。一旦你能做到8次，即应增加哑铃的重量或再延长时间。
八、扶门下蹲
器材：门框
目标功效区：臀肌
1.站在门口，双脚分开至肩宽。面对着门缘抓住把手。
2.慢慢弯曲双膝，至90度。尽可能停留长点时间，然后慢慢站起回到起始位置。做8个下蹲。</string>
	<key>运动在减肥中的作用和功效</key>
	<string>自20世纪60年代以来肥胖症席卷欧美，引起人们的重视，肥胖症已成为现代社会重要的“文明病”之一。近年来我国人民生活水平日渐提高，城市居民的饮食机构逐渐跨入营养型，加七劳动条件的改善。使人们饮食过多，活动减少。肥胖者日益增多。因此，各种各样的减肥方法应运而生。针对肥胖的主要原因．进行饮食控制和适当运动，造成能量负的平衡。来逐步消除多余的体脂，同时，预防和治疗各种合并症，以增强体质．因此理想而有效的减肥方法是适当运动+适当控制饮食+生活方式的改变，而运动疗法是防治肥胖症的最佳、最简便易行和经济可靠的方法。
一、运动在减肥中的作用
运动是减肥的一种好方法．肥胖者增加体育锻炼。不但可以达到增加体内脂肪的“支出”。使体型恢复的目的．而且还可以使身体的各器官得到锻炼，增强体魄，冈此说，增加运动是非常适宜减肥的好方法。要增加肌肉的活动，就需要增加热量．这样可以促进脂肪库中脂肪的“燃烧”．改变肌肉与脂肪的比例。运动可以刺激脂肪的消耗，通过神经、体液的调节促进脂肪代谢；运动可以降低血脂，使血液中的胆固醇及甘油三酯降低．减少脂肪在心脏、肝脏、血管中的沉积，减少冠心病、脂肪肝等疾病的发生率；运动有助于改善心肌代谢，从而提高心肌工作能力．使心肌收缩力加强，增强了肥胖者的心血管系统对体力负荷的适应能力：运动可以增强呼吸力量，增加胸廓活动范围及肺活量。改善肺通气及换气功能，使气体交换加快，也有利于“燃烧”多余的脂肪。
二、运动在减肥中的功效
(1)运动本身增加能量消耗
步行、跑步、游泳等运动的能量消耗是静坐的几倍到几十倍，这是由于运动可引起儿茶酚胺类激素分泌增加，使脂肪组织的脂解作用增强。另有研究表明，长期规律运动可提高安静状态下的基础代谢率．高脂饮食条件下，运动可增加24h内睡眠能量消耗，当运动强度和时间达到一定水平，足以降低肌肉糖原储存时，运动具有影响食物特殊动力的作用。运动不仅增加机体能量消耗。而且影响能量摄入。
(2)有氧运动健身降脂
有氧运动是指通过连续不断反复多次的活动，在一定时间内，按一定训练强度，完成一定的活动要求，使心率逐步提高到规定的最高心率范围内。简单地说，有氧运动其实就是反复多次的中小强度运动。</string>
	<key>锻炼前的热身动作</key>
	<string>运动前的热身，是直接影响运动表现最重要的因素之一，也是攸关会不会受伤的因素之一，可是真正能做对热身的人却少之又少。最常见的就是匆匆到球场，随便动一下就开始打球，根本没有热身！更糟的是，有人直接把拉筋当热身，随便做做了事……其实，这些都不是热身！那么，正确的热身该怎么做呢？
运动前准备的三步骤
运动前准备第一步：以有氧运动提升血液循环
运动前，身体的血液大部分集中在躯干与头部，四肢的血液流量，大约是运动时血液流量的 5％，越接近手脚末梢的肌肉甚至更少，因为缺乏足够的血液在肌纤维之中，所以肌肉相对是「干的」，肌细胞因运动所需要的温度、氧气、养分等也会明显不够，而血液太少，对运动神经的传导也相当的不利，导致肌肉的收缩会变得不够顺畅。
在这种情况下运用肌肉做运动，肌纤维非常容易撕裂，而这种微创伤（micro trauma）并不会让你马上有感觉，通常要经过一段时间的累积，才会出现抽筋、拉伤、扭伤，或感觉肌肉没力的现象。因此，热身一开始是不能做伸展的！这样直接对干且温度较低的肌肉做伸展，就像拉扯一块干海绵一样，肌纤维与海绵纤维都很容易被撕裂，而是要做有氧运动来提升血液循环，让肌肉充满血液、提升温度、刺激神经，为后续的运动做好准备。
运动前准备第二步：启动关节移动、稳定与旋转能力
除了血液循环，运动前的准备，还要考虑启动关节的活动、稳定与旋转能力，特别是脊椎、肩关节、髋关节，这三个部分是身体要完成运动最重要的关键。它们不只需要血液循环，还要将这些提供关节多方向性活动、稳定、旋转的小肌肉群唤醒，让它们可以充分发挥功能。
运动前准备第三步：在「全身都在动」的状态下做动态式伸展
完成前面两个步骤，代表肌肉与关节都有充分的准备后，就可以开始做伸展。但是毕竟运动是需要全身性的协调才能完成，肌肉不是放松或拉长就好，还要有足够的神经反应与快速收缩的能力，所以我不建议将身体拆成一部分、一部分做静态伸展，最好是在「全身都在动」的前提下做动态式伸展。</string>
	<key>谈谈产后如何运动减肥</key>
	<string>俗话说：“运动在于生命，生命在于运动。”运动让人快乐，运动还可以让人达到美的效果。美是每个人追求和向往的，形体与体态美更是众多女性追求的目标。产后的妈妈在经过一年的怀孕，使原来S形的身材变成D形的体型，在很大程度上让自己没有信心站在镜子前，每天早上为穿什么农服发愁，试了一件又一件，没有一件让已变成D形体型的自己满意。正因为如此，现在产后运动减肥成了妈妈们谈论的话题。
1.轻微的伸展运动
人为什么会胖的根本原因是吃进去的热鼍在每天的活动中消耗不完。针对这个原理，有很多方法通过增加活动量，自主或不自主地消耗剩余的热量而达到减肥目的。产后减肥不可过早，生育一个月就开始恢复体形锻炼，许多产科医生认为有点操之过急。一般情况下，顺产的新生妈妈要比剖腹产的新妈妈早锻炼，但也不能过早地运动。顺产的新生妈妈，两个月后可以适当地做一些运动，但运动最好局限于做做家务、散步和轻微的伸展运动。相对来说剖腹产的新妈妈运动更晚一些，一般要三个月后比较适合做这些简单的运动。
2.中等强度的运动
伴随着四个月时间的流逝，产后妈妈身体机能的恢复，笔者认为可以选择轻、中等强度的有氧运动，例如慢跑、快走、游泳、登山、骑脚踏车、有氧舞蹈等，但进行时间至少要持续12一15分钟以上，若要有效燃烧脂肪，应持续进行30分钟以上，或是一天之内累积到30分钟以上才有效果。只有这样，才能有利于减重，并能有效防止减重后体重出现反弹。
3.完全可以运动锻炼
产后五个月后，产后妈妈身体机能基本上都恢复了，运动锻炼就不在局限于一般的轻、中等强度的运动，而是可以做一些大运动量的项目，例如跑步、打球等，以达到运动减肥的效果。同时还可以根据自己的实际情况消除腹部、臀部、大腿等处多余的脂肪，恢复怀孕前的健美身姿。
运动对产后的妈妈们相当重要，而且对我们身体还有很多好处，相当多的研究指出，运动确实可以降低血压、血脂肪及血糖，进而减少糖尿病、心脏病及脑中风的发生，同时运动能让我们心肺功能增强，肌肉看起来比较匀称，对自己的满意度增加，精神科医师也告诉我们，运动可以缓解压力，减少产后忧郁症的发生。
所以怀孕的准妈妈们不要因担心产后体型变形而害怕生孩子，不敢生孩子，其实通过运动和注意自己平时的饮食是完全可以达到减肥的目的的，甚至生完孩子以后的体型比没有生之前更有S形</string>
	<key>有氧运动对高血压患者动态血压的影响</key>
	<string>高血压病作为心脑血管疾病主要的危险因子，无论在工业化国家还是发展中国家，都有相当高的发病率。临床上常用的非药物治疗和预防措施有控制体重、限制盐的摄入、戒酒以及适当运动等，其中有氧运动的作用尤其引人关注。虽然已经证明有氧运动具有明确的降压效应，但是在临床应用中仍然对其作用存在着不同意见。因为在以往的观察性研究中，运动的降压效应很可能与健康生活方式的作用相混淆。第二个有争议的问题是降压效应所必需的运动强度。许多临床研究证明了中等和高强度运动的有效性，然而低强度运动的降压效果仍不明了。
美国疾病预防和控制中心及美国运动医学会推荐高限和低限两种有氧运动强度，这两种强度可以产生相似的降压效应。一般患者经过8周有氧运动后，24h动态血压的各项指标（包括24h平均收缩压、舒张压，白昼平均收缩压、舒张压，夜间平均收缩压、舒张压）均表现出下降的趋势。同时经过短期的有氧运动训练，高血压患者的运动能力得到提高，相同心血管反应状态下的运动能力也提高，从而能改善高血压患者日常生活活动能力和工作能力，减少或者避免日常生活状态下过高的心血管应激反应。
高血压病在我国的发病率也相当高，根据资料，我国35-74岁人群的高血压患病率高达27.2%，同时血压得到良好控制的患者却只占患病人群的8.1%。因此迫切需要加强高血压的控制，尤其在广大的农村地区。随着人们生活水平的不断提高，人们的饮食结构发生了改变，如过高的脂肪、热量等的摄入，而由于运动的减少却使热量的消耗反而减少，所以建立良好的生活方式对高血压病患者来说相当重要。高血压病的综合治疗措施也包括了建立健康的生活方式，JNC-VI（美国预防、检测、评估与治疗高血压全国联合委员会第六次报告）提出对I、II级高血压患者以及部分病情稳定的III级高血压患者都可以采用包括适当运动在内的生活方式调整的非药物治疗方法。通过动力性运动，患者的血压可以得到下降，并且可能维持10h以上，长期训练可以使患者安静而使血压也下降。</string>
	<key>有氧运动与肥胖</key>
	<string>肥胖已经成为影响现代人健康的隐形杀手。肥胖不但影响外表，更会对人类的身体造成损害，引发一系列的心脑血管疾病：如高血压、高血脂、冠心病和糖尿病。研究表明，系统的有氧运动可改变体内的代谢状况，调节及改善脂肪代谢，可避免过多脂肪的积累；小鼠实验抗击动脉硬化是一个从分子角度研究有氧运动减脂机理的实验，结果表明：有氧运动可以提高高密度脂蛋白受体的基因表达水平，使低密度脂蛋白水平下降，高密度脂蛋白水平上升，促进了脂肪代谢；有氧运动可使运动后obmRNA的表达量显著提高，活性瘦素生成增加；明显减少了脂肪的积累，从而预防及抑制了肥胖的发生与发展；有氧运动可使血中儿茶酚胺水平升高，降低血胰岛素的水平，提高细胞胰岛素受体结合力，是细胞膜络氨酸激酶活性得到改善，减轻胰岛素抵抗作用，从而使血糖进入脂细胞的量减少，抑制脂肪的合成，促进了脂肪的分解、动员；有氧运动能够控制白色脂肪细胞的数量与体积，使白色脂肪细胞的体积减少。同时，提高棕色脂肪细胞的功能，增强体内热量平衡的调节能力，从而预防和控制肥胖的发生与发展。</string>
	<key>三招让你享“瘦”生活</key>
	<string>第一招：给自己加点压力
不断提醒自己为什么要瘦：为了即将来临的阳光夏季(要穿漂亮的裙子)、周末要和男朋友约会(要穿得贴身苗条一点)、某位同事的生日派对(要穿得又少又性感)、又将流行一轮的“女人味”十足的时尚服装(你当然知道“女人味”是什么“味”)、时装店的售货员不会再对你说：“对不起，我们只有小号的。”
第二招：给自己来点鼓励
阶段性地检验“成果”：每星期称一次体重。不要每天称，那样容易因为看不到成绩和进步而让自己丧失信念；一周称一次，哪怕一丁点的减轻都会让你兴奋，备受鼓舞。
第三招：预防胖从口入
1.减肥先减食欲：每次吃东西只吃七分饱，少食多餐，经常清洗自己的口腔特别是舌头。
2.每天喝尽可能多的白开水，至少一天8杯，每杯500CC。
3.很多人一起吃饭时，最好挨着男士坐。因为在男士面前女性通常不会暴露自己的食量，保持淑女形象比美食重要，这样你就可以少吃很多东西。
4.买一些无法引起食欲的东西放在冰箱里，一打开冰箱自己先觉得“没劲”了，自然没有吃的念头。
5.晚餐后不吃任何东西。
6.在外面用餐时，最好不要看菜单，否则满眼净是你感情最深的甜点啦什么的；
7.把切成条状的红萝卜、青椒、小黄瓜、花椰菜以及芹菜当成“点心”吃，放在冰箱里随时拿出来吃也行，放在包里当零嘴也行。
8.西式的餐点尤其是快餐，简直是不负“垃圾”的“美誉”，热量又高、脂肪又多，很多炸排骨、炸鸡排便当，1个热量可能就达8、900大卡，摇6个小时的呼拉圈都消不掉；
9.吃水煮肉：肉类含有各种人体所需的蛋白质，减肥不能完全拒绝肉食，但是要多吃水煮肉类，少吃煎烤油炸类。
10.如果你觉得因为想瘦身实在是把“嘴”管得太严了，一星期当中可以有一次(可不是一天)放纵一下食欲，吃一块巧克力蛋糕或是一盒冰激淋，以免积怨太久导致沮丧或食欲爆发的反效果，甚至觉得人活着意思不大。</string>
	<key>十指操，护心脏</key>
	<string>人的手足都是十二经脉的密集区，手足末梢的神经分布十分丰富，经常按摩、拉拔、夹压手指，通过对经络和神经的刺激可以起到调气行血、宽胸理气的作用。特别是小指上有手少阴心经，中指上有手厥阴心包经，按摩这两条经络对于心脏是大有好处的。具体方法是：
1.按摩法：有两个有效穴位，分别是劳宫穴和内关穴。劳宫穴在手掌心，位于第2、3掌骨之间，偏于第3掌骨，握拳屈指时，中指和无名指指尖所指的地方，就是劳宫穴。内关穴也比较好找，手掌向上，腕横纹中点上面2寸的地方，就是内关穴。用食指托住手背，拇指对穴位稍向下用点力后保持压力不变，继而旋转揉动，以产生酸胀为度，2分钟后再换另一侧穴位按摩。
2.夹压法：用一只手的食指、中指紧夹另外一只手的小指两侧，由手指根部向指尖部拉拔，使指尖有温热、胀、麻的感觉。再依次从无名指到拇指，各做1次，两手交替进行。此法可扩张冠状动脉，增加心肌供氧量，改善心肌供血，对心血管疾病具有一定的辅助治疗作用。</string>
	<key>减肥主食“三化”原则</key>
	<string>减肥主食要按着”三化”原则去搭配．即简单化．定量化和杂粮化。
1.所谓简单化．就是不要把烧卖、油条，春卷．点心．零食等脂肪含量高、热量高．导致体重增加的食物都划八主食的范畴．仅仅是米面，杂粮．豆类、薯类等粮食才能划入主食的范畴。
2．定量化．平时无论在外面应酬或者好友聚餐吃饭还是在自己家中面对美味佳肴吃饭．特别是各种荤菜的种类和数量都是很大的．这样往往容易导致刚吃几口荤菜的时候就会感觉已经饱了．导致主食再也吃不下去，而脂肪．胆固醇的摄八量反而增多。正确的做法是．避免无限制地吃菜，以保证主食的进食量(健康成人每天至少要吃300克以上)。
3杂粮化．由于人们生活水平的提高．人们现在吃的主食越来越精细了．但是营养却反而降低了．这是因为稻米在碾压加工过程中．米糠全部被丢弃：反复碾轧后就只剩下淀粉及少量蛋白质。但米糠包含了稻米64％的营养素．可谓是稻谷精华之所在。而燕麦．大麦、养麦．粟米．玉米．高粱米等杂粮．又含有白米．白面中所缺乏的营养素，可起到有益的补充作用，因此．日常饮食应适当地增加杂粮制品。
不仅如此．杂粮中还含有较多的膳食纤维．而富含膳食纤维的黑米、紫米．糙米等都是延缓消化速度的好选择减肥时用它们代替白米饭做主食．不仅热量低．还可以加快人体排除毒素一身轻松!</string>
</dict>
</plist>
